# Database settings
DB_USER=wwwanalys_user
DB_PASSWORD=wwwanalys_password
DB_NAME=wwwanalys
DB_HOST=localhost
DB_PORT=5432

# JWT settings
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30