# База данных
DATABASE_URL=sqlite:///./test.db

# JWT
SECRET_KEY=change-me-to-a-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Внешняя интеграция
API_KEY=change-me-api-key

# CORS
CORS_ORIGINS=http://localhost:5173

# GitHub
GITHUB_TOKEN=ithub_pat_11CCL4FUQ0x0nQEWLCSRsI_ZApmIcNfkbgGybSI1dag29tJfRXE5RP5eS9stns9mQeWU23LDP4zv0qFL7s